body {
    /* font-family: 'KaiTi', 'Noto Sans SC', sans-serif; */
    background-color: #ffffff; /* 白色背景 */
    margin: 0;
    width: 100vw;
    height: 100vh;
}
canvas {
    background-color: #eee;
    display: block;
    margin: 0 auto;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; /* 改为列布局，使得结果框始终在表单下方 */
    align-items: center;
    padding: 20px;
    width: 450px;
}
.calculator {
    /* background: linear-gradient(135deg, #fbc2eb, #a6c1ee); 动态渐变背景 */
    /* background-size: 400% 400%; */
    animation: gradientAnimation 10s ease infinite;
    padding: 15px;
    width: 450px;
    /* box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1); */
    /* box-sizing: border-box; */
    /* margin-bottom: 20px; 增加与结果框的间距 */
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #3498db; /* 标题颜色 */
    margin-bottom: 15px;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-size: 1rem; /* 调整为与小标题一致的大小 */
    color: #000000; /* 标题改为黑色 */
    margin-bottom: 10px;
    font-weight: 500;
    font-weight: bold;
}
label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-weight: bolder;
}
.update-time {
    font-size: 14px;
    font-weight: normal;
}
input, select {
    width: 100%;
    padding: 8px; /* 缩小 padding */
    margin-bottom: 8px; /* 减少了 margin-bottom */
    border: 1px solid #ddd;
    border-radius: .25rem;
    font-size: 16px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
input:focus, select:focus {
    border-color: #3498db;
    background-color: #fff;
    outline: none;
}
.input-group {
    display: flex;
    justify-content: space-between;
}
.input-group input, .input-group select {
    width: 48%;
}
.input-group input.date-picker {
    width: 100%;
}
.button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #2980b9;
}
.result {
    background: none; /* 去掉背景 */
    width: 450px;
    margin-top: 10px;
}
.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: .25rem;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(0, 0, 0, .125);
}
.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    /* font-family: 'KaiTi', serif; */
}
.result-table th {
    width: 120px;
    text-align: center;
}
.result-table td {
    width: 330px;
}
/* 表格奇数行为浅灰色，偶数行为白色 */
.result-table tr:nth-child(odd) {
    background-color: #f5f5f5; /* 浅灰色 */
}
.result-table tr:nth-child(even) {
    background-color: #ffffff; /* 白色 */
}
.result-value {
    color: #ff4d4d;
    font-weight: bold;
}
.custom-link {
    color: #3498db;
    text-decoration: none;
}